* :disabled{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.marcoreloj {
    background-color: gray;
    width: 600px;
    height: 600px;
    position: relative;
    margin: auto;
}

.circuloreloj{
    background-color: white;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    margin: 20px;
    z-index: 0;
}

.eje {

    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;   
    margin: -300px 255px; 
    
}

.aguja {
    display: block;
    margin: auto;
    background: red;
    width: 5px;
    height: 200px;
    animation: steps(60) mover 60s infinite;
    transform-origin:bottom ;
    z-index: 0;
    
    
}

@keyframes mover {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.minutos {
    display: block;
    margin: auto;
    background: black;
    width: 5px;
    height: 200px;
    animation: girarminutos 3600s infinite steps(60);
    transform-origin: bottom;
    z-index: 0;
}

@keyframes girarminutos {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.horas {
    display: block;
    margin: auto;
    background: black;
    width: 5px;
    height: 200px;
    animation: girarhoras 86400s infinite steps(12);
    transform-origin: bottom;
    z-index: 0;
}

@keyframes girarhoras {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

img{
    display: flex;
    margin: 30px;
    height: 500px;
    width: 500px;
}

