.marcoreloj {
    height: 800px;
    width: 800px;
    background-color: gray;
    position: relative;
}

.circuloreloj{
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    margin: auto;
    position: absolute;
}

img{
    width: 80%;
    height: 80%;
    position: absolute;
}

.eje {
    background-color: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;   
    position: absolute;
    /* Solucion 1 Centrado */
    /* 25px es la mitad del circulo */
    margin: calc(50% - 25px);
    /* Solucion 2 Centrado Clasica */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 2;
    
}

.manecillas {
    height: 200px;
    width: 5px;
    transform-origin:top;
    position: absolute;
    margin: 50%;
    z-index: -1;
}

.aguja {
    background: red;
    animation: steps(60) mover 60s infinite;
    z-index: 0;
}

.eje .minutos {
    background: black;
    animation: mover 3600s infinite steps(60);
    z-index: 0;
}

.horas {
    background: black;
    animation: mover 86400s infinite steps(12);
    z-index: 0;
}

.centrar{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes mover {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(540deg);
    }
}
