body {
    background-color: white;
}

table, td, th {
    padding-left: 0px;
    border: 1px solid black;
}
th{color:black;}
td{color: black;}
h1{color:black;}
h2{color: black;}
h3{padding-left: 50px;}
.colorfavorito{padding-left: 100px;}
.titulo{color: violet;} 
#biografia{color: turquoise;}
.lista-ordenada{
    font-size: 26px;
    font-weight: 700;
}
.margen-input{
    margin: 16px 0;
}
.boton{
    background-image: radial-gradient(white 60%, blue);
    color: blue;
    font-size: 16px;
    font-style: italic;
    padding: 16px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: lightblue;
}

.preguntas-ordenadas{display: inline-block; margin-left: 10px;}